PORT=3001
NODE_ENV=development
APP_PREFIX=api/v1
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=task_management
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/task_management?schema=public
POSTGRES_DB=task_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=jgbhnjlnobnouhnouihniouhnoihnknon
JWT_EXPIRES_IN=1d
SEED_ADMIN_EMAIL=admin@task.local
SEED_ADMIN_PASSWORD=Admin123!
SEED_USER_EMAIL=user@task.local
SEED_USER_PASSWORD=User123!
